.Intro {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(173, 187, 228, 0.8), rgba(18, 64, 107, 0.8)), url(../../assets/shit.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.Button {
  margin: 20px 20px !important;
  padding: 15px 40px !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
}